In [13]:
pip install pandas sqlalchemy psycopg2

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (2.0.34)
Requirement already satisfied: psycopg2 in /opt/anaconda3/lib/python3.12/site-packages (2.9.9)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

# Indicators of Anxiety or Depression

In [18]:
import pandas as pd
import numpy 
import csv
import psycopg2
import matplotlib.pyplot as plt
import pandas.io.sql as sqlio
import seaborn as sns
from sqlalchemy import create_engine, event, text, exc
from sqlalchemy.engine.url import URL

In [20]:
mental_health_data = pd.read_csv("Indicators_of_Anxiety_or_Depression_Based_on_Reported_Frequency_of_Symptoms_During_Last_7_Days_20241204.csv")

In [21]:
mental_health_data.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,23.2,21.5,25.0,21.5 - 25.0,NaN

In [24]:
mental_health_data.describe()

        Time Period         Value        Low CI       High CI
count  16794.000000  16087.000000  16087.000000  16087.000000
mean      35.922830     28.140946     24.642270     31.893181
std       21.530312      8.951691      8.593666      9.481899
min        1.000000      4.600000      3.300000      6.000000
25%       17.000000     22.100000     18.700000     25.500000
50%       37.000000     27.700000     24.100000     31.600000
75%       55.000000     33.400000     29.700000     37.400000
max       72.000000     85.200000     79.900000     89.500000

In [26]:
mental_health_data.dtypes

Indicator                  object
Group                      object
State                      object
Subgroup                   object
Phase                      object
Time Period                 int64
Time Period Label          object
Time Period Start Date     object
Time Period End Date       object
Value                     float64
Low CI                    float64
High CI                   float64
Confidence Interval        object
Quartile Range             object
dtype: object

Creating connection with postgreSQL

In [29]:
connection_string='postgresql+psycopg2://admin:admin@127.0.0.1:5432/postgres'
try:
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        server_version = sqlio.read_sql_query(text('SELECT VERSION();'), connection)
except exc.SQLAlchemyError as dbError:
    print('PostgreSQL Error', dbError)
else:
    print(server_version['version'].values[0])
finally:
    if engine in locals():
        engine.close()
#sudo kill <pid> kill the process with this pid
#sudo lsof -i :5432  list the proccess running in this port
#Check the process running, kill all the postgres and let only the com.docker

PostgreSQL Error (psycopg2.OperationalError) FATAL:  role "dap" does not exist

(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [ ]:
try:
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        connection.execution_options(isolation_level='AUTOCOMMIT')
        connection.execute(text('CREATE DATABASE anxiety;'))
except exc.SQLAlchemyError as dbError:
    print('PostgreSQL Error', dbError)
finally:
    if engine in locals():
        engine.close()